foreach $images do
<div class="template">
	<p>
	  <em>@name</em>
	  <a href="http://@file_name.staceyapp.com"><img src="http://@base_url/@url"></a>
	</p>
	<p>
	  <a href="http://@file_name.staceyapp.com" onclick="javascript: pageTracker._trackPageview('/outgoing/@file_name.staceyapp.com');">Preview</a> 
	  <a href="/content/4.download-templates/stacey-@file_name.zip" onclick="javascript: pageTracker._trackPageview('/downloads/@file_name');">Download</a></p>
</div>
endforeach