get '/documentation' do
  <li><a href="http://@base_url/@url">Overview</a></li>
  foreach $children do
  <li>
    <a href="http://@base_url/@url">@title</a>
    if $children do
    <ol>
      foreach $children do
      <li><a href="http://@base_url/@url">@title</a></li>
      endforeach
    </ol>
    endif
  </li>
  endforeach
end